@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body {
    margin: 0;
    padding: 0;
}

main {
    background: linear-gradient(#534b52, #f1f0ea);
}

#logo:hover {
    box-shadow: 3px 3px 0 0 white;
}

#nav-bar > ul {
    z-index: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    height: 7vh;
    width: 100%;
    position: fixed;
    background: linear-gradient(#474448 30deg, #f1f0ea);
    color: white;
    font-family: 'Josefin Sans';
    font-size: 23px;
}

#nav-bar > .items-nav-bar-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    left: 50vw;
}

#nav-bar > .items-nav-bar-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    right: 50vw;
    padding-left: 1.5rem;
}

#nav-bar > .items-nav-bar-1 > li{
    padding: 0 1.5rem 0 1.5rem;
}

#nav-bar > ul > li > a:link {
    text-decoration: none;
    color: white;
}

#nav-bar > ul > li > a:visited {
    text-decoration: none;
    color: white;
}

#nav-bar > ul > li > a:hover {
    box-shadow: 3px 3px 0 0 white;;
    padding-right: 6px;
}

#first-section {
    height: 80vh;
    display: flex;
    justify-content: center;
    width: 100%;
}

#decalogue {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 25px;
    margin-top: 6rem;
    margin-bottom: 2rem;
    border-radius: 50px;
    background: linear-gradient(#2d232e, #e0ddcf);
}

#decalogue:hover {
    box-shadow: 90px 35px 0 15px cornsilk;
}

.decalogue-item:hover {
    width: 500px;
    background-color: #534b52;
    cursor: pointer;
    text-align: center;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 0 0 10px black;
}

#second-section {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

#paragraph-third-section {
    text-align: justify;
    width: 50vw;
    position: relative;
    left: 25vw;
}

#footer {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.card-test:hover {
    box-shadow: 50px 0 0 15px cornsilk;
}

body::-webkit-scrollbar {
    width: 15px;
}

