@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
}

#nav-bar > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    height: 5.8vh;
    width: 100%;
    position: fixed;
    background-color: black;
    color: white;
    font-family: VT323;
    font-size: 23px;
}

#nav-bar > ul > li {
    padding: 1rem;
}

#nav-bar > ul > li > a:link {
    text-decoration: none;
    color: white;
}

/* Las propiedades de color cambiarán */
#nav-bar > ul > li > a:visited {
    text-decoration: none;
    color: white;
}

#first-section {
    height: 70vh;
    background-color: #32373b;
}

#decalogue {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: VT323;
    font-size: 25px;
}

.decalogue-item:hover {
    width: 50%;
    background-color: black;
    padding: 1.1rem;
    cursor: pointer;
    text-align: center;
    opacity: 0.5;
    border-radius: 50px;
    border: 4px dotted white;
}

#second-section {
    height: 100vh;
    display: flex;
    gap: 5%;
    padding-top: 5%;
    background-color: #32373b;
    justify-content: center;
    border-top: 10px double white;
}

#footer {
    border-top: 10px double white;
    height: 25vh;
    background-color: #32373b;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
